<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EMT Store activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Dear <span th:text="${user.firstName}"></span>
</p>

<p>
    Good news, Airbnb Buddy has found <span th:text="${newOffers}"></span> new offers for your search criteria. Please follow the link bellow to view offers.
</p>

<p>
    <a th:href="@{|${baseUrl}/#/criteria-list|}">View Offers</a>
</p>

<p>
    <span>Have a nice trip with</span>
    <br/>
    <em>Airbnb Buddy</em>
</p>
</body>
</html>